div.dokata {
  padding: 20px;
  text-align: center;
  font-size: 2.2em;
  line-height: 1.4em;
}

div.back {
  z-index: -1;
  background-image: url('/static/620.png');
  background-repeat       : no-repeat;
  background-size         : 100% auto;
  position                : fixed;
  top                     : 70%;
  left                    : 0;
  right                   : 0;
  bottom                  : 0;
}

div.transparent {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
